@import '../style-utils/variables';

footer {
    background: $tertiary-color;

    .content-wrapper {

	padding: 1.5rem 6%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
	h2 {
	    font-size: 1.25rem;
	    margin: 0 0 1.25rem 0;
	}
	
	#contact {
	    width: 75%;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    
	    li {
		list-style: none;

		a {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}
		
		.fontawesome-icon {
		    font-size: 2rem;
		}
		.contact-text {
		    display: none;
		    @media (min-width: 768px) {
			display: inline;
			padding-left: 0.5rem;
		    }
		}
	    }
	}
    }
}
