@import "../style-utils/variables";
.hero-area {
    text-align: center;
    .content-wrapper {
	padding-bottom: 30px;
	h2 {
	    color: blue;
	    margin-bottom: 0;
	    font-weight: bold;
	}
    }
}

@media (min-width: $tablet-width) {
    #main-hero {
        height: 512px;
    }

    .hero-area .content-wrapper {
        width: 80%;
        padding-left: 4%;
    }
}

@media (min-width: $desktop-width) {
    #main-hero {
        height: 800px;
    }

    .hero-area .content-wrapper {
        padding: 170px 2% 0;
        text-align: center;
        width: 100%;
    }

    h2 {
	font-size: 2em;
    }
}

.bread-tagline {
    background-color: red;
}
