@import "../style-utils/variables";

.hero-area {
    .content-wrapper {
	padding-bottom: 30px;
	h2 {
	    margin-bottom: 0;
	    font-weight: bold;
	}
    }
}

@media (min-width: $tablet-width) {
    #main-hero {
        height: 512px;
    }
}

@media (min-width: $desktop-width) {
    #main-hero {
        height: 800px;
    }

    .hero-area .content-wrapper {
        padding: 170px 2% 0;
        text-align: center;
        width: 100%;
    }

    h2 {
	font-size: 2em;
    }
}

// .bread-tagline {
// }
