@import "../style-utils/variables";

.hero-area {
    background-image: url("../assets/glitch-art-background-1-low-contrast2.png");
    background-size: cover;
    background-position: right top;
    height: 100vh;
    .content-wrapper {
	box-sizing: border-box;
	padding-bottom: 30px;
	h2 {
	    margin-bottom: 0;
	    font-weight: bold;
	}
    }
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
    .hero-area .content-wrapper {
        padding: 170px 2% 0;
        text-align: center;
        width: 100%;
    }

    h2 {
	font-size: 2em;
    }
}

// .bread-tagline {
// }
